{% extends 'base.html' %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
    <div class="container">
         <h1>Про магазин</h1>
         <p>Овощи – это растения, которые можно употреблять в пищу. Термин чаще всего применяют к корнеплодам,
             тыквенным и пасленовым, т.к. плоды, собираемые с кустарников и деревьев, принято именовать фруктами и
             ягодами. Овощи – неотъемлемая часть питания человека. В них содержатся важные для здоровья витамины,
             углеводы и прочие полезные вещества. Летом они составляют основу многих диет, а зимой укрепляют организм и
             поставляют в него необходимые для нормального функционирования элементы. </p>
    </div>
{% endblock %}